<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--This tells browser: draw page that has width same to width of the device
        screen, scale 1:1-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Scorewarrior</title>
    </head>
    <body>
        <a href="#main">Skip to content</a>
        <header>
            <nav aria-label="Primary navigation">
                <a href="/">Scorewarrior</a>
                <a href="/game">The Game</a>
                <a href="/how-we-work">How We Work</a>
                <a href="/cyprus">Life in Cyprus</a>
                <a href="/careers">Careers</a>
            </nav>
        </header>

        <main id="main">
            {{template "content" .}}
        </main>

        <footer>
            <p>Scorewarrior</p>

            <nav aria-label="Footer navigation">
                <a href="/how-we-work#studio">Press &amp; facts</a>
                <a href="/legal">Legal</a>
            </nav>

            <div>
                <p>Contact</p>
                <a href="mailto:info@scorewarrior.com">info@scorewarrior.com</a>
            </div>

            <p>&copy; 2026 Scorewarrior</p>
        </footer>
    </body>
</html>